body {
  background-color: #faf8f1;
  color: #0a1520;
  font-family: 'Poppins', sans-serif;
}

.board {
  border: #5a4423 solid 10px;
  background-color: #faf8f1;
  opacity: 0.8;
  background-size: 30px 30px;
  background-image: repeating-linear-gradient(
    0deg,
    #5a4423,
    #5a4423 1px,
    #f3e3cb 1px,
    #f3e3cb
  );
  height: 100vh;
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 5%;
}

.stickyNote {
  height: 250px;
  width: 250px;
  background: rgb(247, 80, 108);
  box-shadow: 5px 10px 10px black;
  transform: rotate(5deg);
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.stickyNote::-webkit-scrollbar {
  display: none;
}

.toDoContainer {
}

.noteTitle {
  text-align: center;
}
.listItems {
  list-style-type: none;
  margin: 10%;
}

.deleteButton {
  border-radius: 50%;
  border-color: rgb(243, 147, 147);
}

.inputBar {
  border: none;
  width: 130px;
  margin-top: 20px;
  margin-right: 10px;
}
.addButton {
}

.toDoCompleted {
  text-decoration: line-through;
}
