body {
  background-color: #faf8f1;
  color: #0a1520;
  font-family: 'Poppins', sans-serif;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.board {
  border: #5a4423 solid 10px;
  background-color: #faf8f1;
  opacity: 0.8;
  background-size: 30px 30px;
  background-image: repeating-linear-gradient(
    0deg,
    #5a4423,
    #5a4423 1px,
    #f3e3cb 1px,
    #f3e3cb
  );
  height: 100vh;
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 5%;
}
body::-webkit-scrollbar {
  display: none;
}

.stickyNote {
  height: 250px;
  width: 250px;
  box-shadow: 5px 10px 10px black;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.stickyNote::-webkit-scrollbar {
  display: none;
}
.pink {
  background: rgb(247, 80, 108);
  transform: rotate(5deg);
}

.blue {
  background: rgb(146, 210, 240);
  transform: rotate(5deg);
}
.yellow {
  background: rgb(238, 243, 161);
  transform: rotate(5deg);
}
.green {
  background: rgb(201, 243, 161);
  transform: rotate(5deg);
}
.noteTitle {
  text-align: center;
}
.listItems {
  list-style-type: none;
  margin: 10%;
}

.deleteButton {
  border-radius: 50%;
  border-color: rgb(243, 147, 147);
}

.inputBar {
  border: none;
  height: 22px;
  width: 140px;
  margin-top: 20px;
  margin-right: 10px;
  border-radius: 5px;
}
.addButton {
  font-family: 'Poppins', sans-serif;
  border-color: rgb(243, 147, 147);

  border-radius: 5px;
}

.toDoCompleted {
  text-decoration: line-through;
}
